@model IEnumerable<MovieStore.Models.Movie>

@{
    ViewBag.Title = "Movies By Date";
}

<div class="container">
    <table class="table table-hover">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Title)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Director)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ReleaseYear)
                </th>
            </tr>
        </thead>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Director)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ReleaseYear)
                </td>
            </tr>
        }

    </table>
</div>
