
@model MVCBasics.Assignments.Models.Temp

@{
    ViewBag.Title = "Fever Check";
    
}

<div class="container">

    <p>Enter your temperature</p>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken() //protects against "cross-site request forgery"
        @Html.ValidationSummary(true)
        @Html.TextBoxFor(m => m.Temperature, new { @type = "number" })
        <input type="Submit" value="Submit" /><br />
        <label>@Html.RadioButtonFor(m => m.Scale, "Celsius") Celsius</label><br />
        <label>@Html.RadioButtonFor(m => m.Scale, "Fahrenheit") Fahrenheit</label><br />
        @Html.ValidationMessageFor(m => m.Temperature, "", new { @class = "text-danger" }) <br />
        @Html.ValidationMessageFor(m => m.Scale, "", new { @class = "text-danger" }) <br />
    }

    @ViewBag.FeverMessage
</div>


